@import "tailwindcss";

/* ==================================================================================================== */

@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --color-bg: #1A1A1D; 
  --color-tri: #F9F8F6; 
  --color-main: #FFD93D; 
  --font-Anton: "Orbitron", sans-serif; 
}

/* ==================================================================================================== */